# App config
MINDMEMOS_CONFIG_NAME=dev
MINDMEMOS_CONFIG_PATH=

# Qdrant
MINDMEMOS_QDRANT_URL=http://localhost:6333
MINDMEMOS_QDRANT_HTTP_PORT=6333
MINDMEMOS_QDRANT_GRPC_PORT=6334
MINDMEMOS_QDRANT_PREFER_GRPC=true
MINDMEMOS_QDRANT_API_KEY=
MINDMEMOS_GRAFANA_QDRANT_URL=http://qdrant:6333

# Neo4j
MINDMEMOS_NEO4J_URI=bolt://localhost:7687
MINDMEMOS_NEO4J_HTTP_PORT=7474
MINDMEMOS_NEO4J_BOLT_PORT=7687
MINDMEMOS_NEO4J_USERNAME=neo4j
MINDMEMOS_NEO4J_PASSWORD=

# Kafka
MINDMEMOS_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
MINDMEMOS_KAFKA_PORT=9092
MINDMEMOS_KAFKA_UI_PORT=8080
MINDMEMOS_KAFKA_EXPORTER_PORT=9308

# Observability
MINDMEMOS_TELEMETRY_ENDPOINT=http://localhost:4318
MINDMEMOS_OTEL_GRPC_ENDPOINT=0.0.0.0:4317
MINDMEMOS_OTEL_HTTP_ENDPOINT=0.0.0.0:4318
MINDMEMOS_OTEL_KAFKA_EXPORTER_TARGET=kafka-exporter:9308
MINDMEMOS_OTEL_CLICKHOUSE_ENDPOINT=tcp://clickhouse:9000?dial_timeout=10s
MINDMEMOS_OTEL_HTTP_PORT=4318
MINDMEMOS_OTEL_GRPC_PORT=4317
MINDMEMOS_GRAFANA_PORT=3000

# Eval metrics collector
MINDMEMOS_CLICKHOUSE_HTTP_PORT=8123
MINDMEMOS_CLICKHOUSE_NATIVE_PORT=9000
MINDMEMOS_CLICKHOUSE_DB=otel
MINDMEMOS_CLICKHOUSE_USER=mindmemos
MINDMEMOS_CLICKHOUSE_PASSWORD=
