# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

numpy~=1.19.4
torch~=1.7.0
tqdm~=4.51.0
transformers~=3.5.0
scikit-learn~=0.24.1
seqeval~=1.2.2